.header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(143, 42, 156, 0.1);
    padding: 1rem;
}

.alurageek{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

strong{
    color: rgb(25, 41, 187);
}

.menu__titulo{
    font-size: 30px;
    color: rgba(145, 88, 88, 0.863);
}

.buscador__posicion{
    display: flex;
    align-items: center;
    
}

.login{
    text-decoration: none;
}
.boton__login{
    background-image: linear-gradient(
        150deg,
        #9500ff,
        rgb(150, 66, 247),
        #00DDFF
    );
    display: flex;
    align-items: center;
    font-size: 25px;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    justify-content: space-evenly;
    
}

.img__login{
    width: 30px;
    height: 30px;
}

.boton__login:hover{
    background-image: linear-gradient(
        150deg,
        #9105f5,
        rgb(52, 171, 250),
        #3ce1fa
    );
}